<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<title>ThermalTimeConstant</title>
</head>
<body>
Hello!
<script th:inline="javascript">
/*<![CDATA[*/
    var indexOfMeasuredTemperatures = /*[[${indexOfMeasuredTemperatures}]]*/ 'indexOfMeasuredTemperatures';
    console.log("indexOfMeasuredTemperatures:");
    console.log(indexOfMeasuredTemperatures);
/*]]>*/
</script>
<a th:text="${indexOfMeasuredTemperatures}"></a>
</body>
</html>