<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<title>ThermalTimeConstant</title>
</head>
<body>
	Hello!
	<script th:inline="javascript">
		/*<![CDATA[*/
		let indexOfMeasuredTemperatures = /*[[${indexOfMeasuredTemperatures}]]*/'indexOfMeasuredTemperatures';
		let roomTemp1 = /*[[${roomTemp1}]]*/'roomTemp1';
		let startDate = /*[[${startDate}]]*/'startDate';
		let startTime = /*[[${startTime}]]*/'startTime';
		/*]]>*/
	</script>
	<script src='myclass.js'>
	//const myclass = import('./myclass.js');
	</script>
	<a th:text="${indexOfMeasuredTemperatures}"></a>
</body>
</html>