<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Temperatures</title>
<head>
<title>ThermalTimeConstant</title>
</head>
<body>
	<script th:inline="javascript">
		/*<![CDATA[*/
		let indexOfMeasuredTemperatures = /*[[${indexOfMeasuredTemperatures}]]*/'indexOfMeasuredTemperatures';
		let roomTemp1 = /*[[${roomTemp1}]]*/'roomTemp1';
		let outdoorTemp = /*[[${outdoorTemp}]]*/'outdoorTemp';
		let forecast = /*[[${forecast}]]*/'forecast';
		let startDate = /*[[${startDate}]]*/'startDate';
		let startTime = /*[[${startTime}]]*/'startTime';
		/*]]>*/
	</script>
	<div>
		<canvas id="line-chart" width="1920" height="940"></canvas>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src='main.js'></script>

</body>
</html>